body {
  font-family: 'Open Sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ----------------HEADER ---------------*/
.header {
  background: rgba(25, 28, 38, 0.2);
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header-link:hover .header-link:focus {
  color: #ff6c00;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ----------------HERO ---------------*/
.hero {
}
.hero-list {
}
.list {
}
.hero-item {
}
.hero-link {
}
.link {
}
.hero-pre-title {
}
.hero-title {
}
.hero-after-title {
}

/* ----------------ABOUT ---------------*/
